@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  display: flex;
  gap: 30px;
}

.sidebar {
  flex: 2;
  background: url(../images/bg.png) no-repeat center / contain;
}

.sidebar__logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1.5;
}

.content__header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form__group {
  display: flex;
  gap: 30px;
  margin-bottom: 8px;
  line-height: 1.5;
}

.form__field {
  display: flex;
  flex-direction: column;
  color: #111;
}

input {
  padding: .5rem;
  font-size: 1rem;
  color: #111;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

input:focus {
  outline: none;
  border-color: #000;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.button {
  font-size: 1rem;
  margin-top: 8px;
  padding: 10px 30px;
  background-color: #EFB734;
  border-radius: .25rem;
  border: none;
}

.button:hover {
  cursor: grab;
  background-color: #e2b33b;
}

.button:active {
  transform: scale(.97);
}